body{
    text-align: center;
    background-color: rgb(57, 99, 122)
}

h1{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: springgreen;
}

p{
    font-family: 'Fira Sans', sans-serif;
    color: snow;
}

a{
    color: salmon;
    text-decoration: none;
}

a:hover{
    color: sandybrown;
    text-decoration: underline;
}

